.scoreboard-ctr {
  /* margin: 50px; */
  background-color: wheat;
  text-align: center;
  padding: 20px;
  padding-top: 0;
  max-height: 100%;
  width: auto;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px;
  width: 250px;
  font-size: 0.9rem;
}
