@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;400;700&display=swap');

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --theme-main: #ff6347;

  --box-shadow-main: 0px 3px 10px rgb(179, 179, 179);
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

h1 {
  font-family: 'Lobster', cursive;
}

li {
  list-style: none;
}

.start-btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
